<!doctype html>
<html lang="en-US">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>DevTernity Workshop Project</title>
</head>
<body>
    <%= htmlWebpackPlugin.files.webpackManifest %>
    <div id="app"></div>
</body>
</html>
